﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="WebApplication3.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
html {
  background: url(img/gt.jpg); 
  width: 100%;
  height: 100%;
}
   
#i{
  font-size: 450%;
}

div{
    font-size: 250%;
}

input{
    width: 250px;
    height: 20px;
}

button{
    width: 220px;
    height: 50px;
    font-size: 20px;
}

body{
   margin-left: 30px;
   margin-top: 50px;
   text-align: center;
}

</style>

    <!--
        username= webapp
        password= webuser
    -->

</head>
<body>
    <form id="form1" runat="server">

        <h1 id="i">Inicio de Sesión</h1>

        <div> 
            <br/>

            Nombre de Usuario <br/>

            <asp:TextBox ID="user" runat="server" Width="205px"></asp:TextBox> <br />


            Password <br/>
            <asp:TextBox ID="pass" runat="server"></asp:TextBox> <br /> <br />

            <asp:Button ID="log" runat="server" Text="Ingresar" OnClick="log_Click" />

        </div>
        

    </form>
</body>
</html>
